@import '../../shared/styles/palette';

.container {
  margin: 20px;

  .todoLists {
    margin-top: 10px;
    padding-bottom: 5px;

    .todoCard {
      padding: 10px;
      &:hover {
        cursor: pointer;
        background-color: $LightBlue;
      }

      .content {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .title {
          font-size: 14px;
        }

        .delete {
        }
      }
    }
  }
}
